# Huntington-Hill Proportional Distribution - 1992 Results

We take the votes from the 1992 U.S. Presidentail Election and distribute the electoral votes proportionally.

## Import Pandas libraries

In [1]:
import math
import numpy as np
import pandas as pd

## Distribute electors proportionally

This function takes a list of votes and a number of electors and then calculates the proportional distribution using the Huntington-Hill method. Apportionment starts at 0, unlike in apportioning congressional seats.

In [2]:
# This is a function to do Huntington-Hill apportionment using Proportional parts
# states_df: a Pandas dataframe containing the following series: 'State', 'Population'
def Huntington_Hill(votes, electors):
    priority_values = {}
    apportionment = {}
    
    print('State {0}'.format(votes['State']))
    
    for i in votes.keys():
        if(not i == 'State'):
            apportionment[i] = 0
            priority_values[i] = votes[i]
        
    for i in range(electors):
        maxpos = max(priority_values, key=priority_values.get)
        apportionment[maxpos] += 1
        priority_values[maxpos] = votes[maxpos]/math.sqrt(apportionment[maxpos]*(apportionment[maxpos]+1))
        
    return apportionment

## Process election results


This functions takes a Pandas dataframe of votes from each state, and another dataframe of electoral votes for each state. The function then does the Huntington-Hill apportionment of electors for each state. The results is a dataframe containing the electoral votes for each candidate in every state.

In [3]:
def process_election(votes_df, electoral_df):
    results_list = []
    votes_rows = votes_df.to_dict('records')
    
    for i in range(len(votes_rows)):
        results_list.append(Huntington_Hill(votes_rows[i], electoral_df.at[i,'Electoral Votes']))
        
    results_df = pd.DataFrame(results_list)
    
    return results_df

In [5]:
votes_df = pd.read_csv('1992_votes.csv')
electoral_df = pd.read_csv('Census_Data_By_Year - 1990.csv')
results_df = process_election(votes_df, electoral_df)

State Alabama
State Alaska
State Arizona
State Arkansas
State California
State Colorado
State Connecticut
State Delaware
State District of Columbia
State Florida
State Georgia
State Hawaii
State Idaho
State Illinois
State Indiana
State Iowa
State Kansas
State Kentucky
State Louisiana
State Maine
State Maryland
State Massachusetts
State Michigan
State Minnesota
State Mississippi
State Missouri
State Montana
State Nebraska
State Nevada
State New Hampshire
State New Jersey
State New Mexico
State New York
State North Carolina
State North Dakota
State Ohio
State Oklahoma
State Oregon
State Pennsylvania
State Rhode Island
State South Carolina
State South Dakota
State Tennessee
State Texas
State Utah
State Vermont
State Virginia
State Washington
State West Virginia
State Wisconsin
State Wyoming

## Summarize the results

The distribution of electors is printed for each state. Then the totals are printed.

In [6]:
print(results_df)
print('\n\n\t\tTotals')
print(results_df.sum())

    Clinton  Bush  Perot  Marrou  Others
0         4     4      1       0       0
1         1     1      1       0       0
2         3     3      2       0       0
3         4     2      0       0       0
4        25    18     11       0       0
5         3     3      2       0       0
6         3     3      2       0       0
7         2     1      0       0       0
8         3     0      0       0       0
9        10    10      5       0       0
10        6     5      2       0       0
11        2     2      0       0       0
12        1     2      1       0       0
13       11     7      4       0       0
14        5     5      2       0       0
15        3     3      1       0       0
16        2     2      2       0       0
17        4     3      1       0       0
18        4     4      1       0       0
19        2     1      1       0       0
20        5     4      1       0       0
21        6     3      3       0       0
22        8     7      3       0       0
23        4     3      3       0       0
24        3     4      0       0       0
25        5     4      2       0       0
26        2     1      0       0       0
27        2     2      1       0       0
28        2     1      1       0       0
29        2     2      0       0       0
30        7     6      2       0       0
31        3     2      0       0       0
32       17    11      5       0       0
33        6     6      2       0       0
34        1     2      0       0       0
35        9     8      4       0       0
36        3     3      2       0       0
37        3     2      2       0       0
38       11     8      4       0       0
39        2     1      1       0       0
40        3     4      1       0       0
41        1     2      0       0       0
42        5     5      1       0       0
43       12    13      7       0       0
44        1     2      2       0       0
45        2     1      0       0       0
46        5     6      2       0       0
47        5     3      3       0       0
48        3     2      0       0       0
49        5     4      2       0       0
50        1     2      0       0       0


		Totals
Clinton    242
Bush       203
Perot       93
Marrou       0
Others       0
dtype: int64

## Now repeat with the "maximal" apportionment

In [8]:
max_electoral_df = pd.read_csv('max_1990_apportionment.csv')
max_results_df = process_election(votes_df, max_electoral_df)

State Alabama
State Alaska
State Arizona
State Arkansas
State California
State Colorado
State Connecticut
State Delaware
State District of Columbia
State Florida
State Georgia
State Hawaii
State Idaho
State Illinois
State Indiana
State Iowa
State Kansas
State Kentucky
State Louisiana
State Maine
State Maryland
State Massachusetts
State Michigan
State Minnesota
State Mississippi
State Missouri
State Montana
State Nebraska
State Nevada
State New Hampshire
State New Jersey
State New Mexico
State New York
State North Carolina
State North Dakota
State Ohio
State Oklahoma
State Oregon
State Pennsylvania
State Rhode Island
State South Carolina
State South Dakota
State Tennessee
State Texas
State Utah
State Vermont
State Virginia
State Washington
State West Virginia
State Wisconsin
State Wyoming

In [9]:
print(max_results_df)
print('\n\n\t\tTotals')
print(max_results_df.sum())

    Clinton  Bush  Perot  Marrou  Others
0         6     7      2       0       0
1         1     2      1       0       0
2         5     5      3       0       0
3         5     3      1       0       0
4        44    31     20       0       0
5         5     4      3       0       0
6         5     4      3       0       0
7         2     2      0       0       0
8         3     0      0       0       0
9        17    17      8       0       0
10       10     9      3       0       0
11        3     2      0       0       0
12        2     2      1       0       0
13       19    13      6       0       0
14        7     8      4       0       0
15        5     4      2       0       0
16        3     4      3       0       0
17        6     5      2       0       0
18        7     6      2       0       0
19        2     2      2       0       0
20        9     6      2       0       0
21       10     6      5       0       0
22       14    11      6       0       0
23        7     5      4       0       0
24        5     5      0       0       0
25        8     6      4       0       0
26        2     2      1       0       0
27        2     3      2       0       0
28        2     2      2       0       0
29        2     2      1       0       0
30       11    11      4       0       0
31        3     3      1       0       0
32       29    20      9       0       0
33       10    10      3       0       0
34        1     2      1       0       0
35       14    14      8       0       0
36        4     5      3       0       0
37        5     3      3       0       0
38       18    14      7       0       0
39        2     2      1       0       0
40        5     6      2       0       0
41        2     2      0       0       0
42        8     7      2       0       0
43       21    22     12       0       0
44        2     3      2       0       0
45        2     1      1       0       0
46        9     9      3       0       0
47        7     6      4       0       0
48        4     3      1       0       0
49        7     6      4       0       0
50        1     2      1       0       0


		Totals
Clinton    383
Bush       329
Perot      165
Marrou       0
Others       0
dtype: int64